@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Young+Serif&display=swap');
$fontSize: 20px;

body {
    background-image: url(./src/assets/cinema-rideau.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {   
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(245, 245, 245, 0.47);
    
    justify-content: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 30px;
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    color: whitesmoke;
}

.logo-site {
    height: 50px;
    margin-right: 2rem;
    border: 3px solid white;
    border-radius: 5%;
}

.movie-img {
    height: 120%;
    width: 50%;
    border: 4px solid silver;
}

p {
    font-size: $fontSize;
    color: whitesmoke;
    margin: 25px 0 0 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
         
.button {
    background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #00000037;
    border-radius: 10px;
    display: block;
  }

  .button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

// @keyframes lights {
//     0% {
//       color: hsl(230, 40%, 80%);
//       text-shadow:
//         0 0 1em hsla(320, 100%, 50%, 0.2),
//         0 0 0.125em hsla(320, 100%, 60%, 0.3),
//         -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
//         1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
//     }
    
//     30% { 
//       color: hsl(230, 80%, 90%);
//       text-shadow:
//         0 0 1em hsla(320, 100%, 50%, 0.5),
//         0 0 0.125em hsla(320, 100%, 60%, 0.5),
//         -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
//         0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
//     }
    
//     40% { 
//       color: hsl(230, 100%, 95%);
//       text-shadow:
//         0 0 1em hsla(320, 100%, 50%, 0.5),
//         0 0 0.125em hsla(320, 100%, 90%, 0.5),
//         -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
//         0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
//     }
    
//     70% {
//       color: hsl(230, 80%, 90%);
//       text-shadow:
//         0 0 1em hsla(244, 100%, 50%, 0.5),
//         0 0 0.125em hsla(320, 100%, 60%, 0.5),
//         0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
//         -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
//     }
    
//     100% {
//       color: hsl(230, 40%, 80%);
//       text-shadow:
//         0 0 1em hsla(320, 100%, 50%, 0.2),
//         0 0 0.125em hsla(320, 100%, 60%, 0.3),
//         1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
//         -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
//     }
    
//   }
  
  h1 {
    margin: auto;
    font-size: 3rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
  }
=====
    border: 2px solid black;
    width: 8.5rem;
    box-shadow: 4px 4px 4px 0 lightgray;
    margin: 20px 50px 0 50px;
}

footer { 
    text-align: right;
    margin: 60px 5px 10px 0;
}

